<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.PostBookmarkMapper">

    <insert id="insertBookmark">
        INSERT INTO post_bookmark (post_id, user_id)
        VALUES (#{postId}, #{userId})
    </insert>

    <delete id="deleteBookmark">
        DELETE FROM post_bookmark
        WHERE post_id = #{postId} AND user_id = #{userId}
    </delete>

    <select id="existsByPostIdAndUserId" resultType="boolean">
        SELECT EXISTS(
        SELECT 1 FROM post_bookmark
        WHERE post_id = #{postId} AND user_id = #{userId}
        )
    </select>

    <select id="countByPostId" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM post_bookmark WHERE post_id = #{postId}
    </select>

</mapper>
