<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.QualityChartsMapper">

    <!-- 품질량 -->
    <select id="getQualityChart" resultType="com.example.demo.model.Quality">
        SELECT '합격' AS name,
        ROUND(SUM(good_qty) / SUM(good_qty + defect_qty) * 100, 1) AS value,
        '#10b981' AS color
        FROM production_data
        UNION ALL
        SELECT '불량' AS name,
        ROUND(SUM(defect_qty) / SUM(good_qty + defect_qty) * 100, 1) AS value,
        '#ef4444' AS color
        FROM production_data
    </select>

    <select id="getQualityPerChart" resultType="com.example.demo.model.QualityPer">
        SELECT
            work_month as month,
            ROUND(good_qty / (good_qty + defect_qty) * 100, 2) AS rate
            FROM (
            SELECT
            month(created_at) AS work_month,
            SUM(good_qty) AS good_qty,
            SUM(defect_qty) AS defect_qty
        FROM production_data
        GROUP BY DATE_FORMAT(created_at, '%Y-%m')
        ) AS monthly_data
        order by month
        LIMIT 0, 1000;
    </select>




</mapper>
